<script src="//cdn.preprod.incisive.ly/incisively.min.js"></script>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script type = 'text/javascript'>

var incisively = new Incisively(6000015, null, 'preprod.incisive.ly');

var baseurl = '/incisively-test'
var rewarded = false;
var labId = '05405172-39ea-4cbd-4562-ee74b7a37485'

// Send reward to Incisively once the user has completed a purchase
function rewardExperiment(basketValue) {
  rewarded = false;
  incisively.reward({
    lab: labId,
    context: { // You only need this for real value experiments
      value: basketValue
    },
	callback: function(){
		alert('Congrats! Your reward was sent :) ');
		rewarded = true;
	}
  });

  return false;
}


var siteUrl = window.location.href;

incisively.track('promo_view', {
  site_url: siteUrl,
  labId: labId
});

</script>
