<script src="//cdn.preprod.incisive.ly/incisively.min.js"></script>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script type = 'text/javascript'>

var incisively = new Incisively(6000018, window.location.host, 'preprod.incisive.ly');

var baseurl = '/incisively-test'

// Send reward to Incisively once the user has completed a purchase
function rewardExperiment(basketValue) {
  incisively.reward({
    lab: 'f0329166-464c-419d-7ae7-c29b4e002bd5',
    context: { // You only need this for real value experiments
      value: basketValue
    }
  });
  alert('Congrats! You just rewarded ' + basketValue);
  return false;
}

</script>
